/* custom -- Tab Css Start  */
.custom--tab {
    justify-content: center;
    border-radius: 6px;
    margin-bottom: 40px;
}

.custom--tab .nav-item {
    border-bottom: 0;
    padding: 5px;
}

.custom--tab .nav-item .nav-link {
    padding: 5px 35px;
    background-color: hsl(var(--base)/0.1);
    border: 1px solid transparent !important;
    border-radius: 8px;
    font-weight: 500;
    font-size: 1rem;
    transition: 1s;
    color: #444;
}

@media screen and (max-width: 1199px) {
    .custom--tab .nav-item .nav-link {
        padding: 8px 15px !important;
    }
}

@media screen and (max-width: 767px) {
    .custom--tab .nav-item .nav-link {
        padding: 3px 10px !important;
    }
}

.custom--tab .nav-item .nav-link.active {
    color: hsl(var(--white)) !important;
    background-color: hsl(var(--base)) !important;
    border: 1px solid transparent !important;
}

.custom--tab .nav-item .nav-link.active:hover {
    color: hsl(var(--white)) !important;
}

.custom--tab .nav-item .nav-link:hover {
    color: hsl(var(--base)) !important;
}

/* ================================= Tab Css End =========================== */
/* pricing section css start */
img {
    max-width: 100%;
    height: auto;
    user-select: none;
}

.plan-card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.plan-card {
    padding: 0 !important;
}

.plan-card__header {
    padding: 20px 0;
    position: relative;
    z-index: 1;
    border-bottom: 1px solid #f2f2f2;
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 767px) {
    .plan-card__header {
        padding: 15px 0;
    }

    .plan-card .plan-name {
        font-size: 1rem !important;
    }

    .plan-card .plan-price {
        font-size: 1rem !important;
    }

    .plan-card__body {
        margin-top: 1.8rem !important;
    }
}

@media (min-width: 576px) and (max-width: 767px) {

    .plan-card__header {
        margin: 0 15px !important;
    }

    .plan-feature-list {
        padding: 0 15px !important;
    }
}

.plan-card__footer {
    padding: 20px;
}

.plan-card {
    padding: 1.875rem;
    overflow: hidden;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.06);
    position: relative;
    overflow: hidden;
    z-index: 1;
    background-color: #fff;
}

.plan-card .fdr-badge {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: hsl(var(--base));
    border-radius: 3px;
    color: #fff;
    font-size: 11px;
    z-index: 2;
    line-height: 1;
    padding: 4px 10px;
}

@media (max-width: 575px) {
    .plan-card::after {
        display: block;
    }
}

.plan-feature-list-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: .5rem;
}

.plan-feature-list-amount {
    font-size: 0.875rem;
    color: #8d8d8d;
    flex-grow: 1;
    text-align: right;
}

.plan-card .plan-name {
    margin: 0;
    font-family: var(--heading-font);
    font-weight: 600;
    font-size: 1.5rem;
}

.plan-card .plan-tagline {
    font-size: 14px;
}

.plan-card .plan-price {
    min-width: 100px;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1;
    color: hsl(var(--base));
    background: rgb(33, 33, 33, .03);
    border-radius: 5px;
    padding: 5px 10px;
    text-align: center;
}

.plan-card .plan-price .title {
    font-weight: 600;
    margin: 0;
}

.plan-card .plan-price span {
    font-weight: 400;
    font-size: 14px;
    color: #8d8d8d;
    position: relative;
}

.plan-card__body {
    margin-top: 2.4375rem;
}

.plan-card__footer .btn:hover {
    box-shadow: none;
    background: hsl(var(--base));
}

.plan-feature-list {
    padding: 0 20px;
    text-align: left;
}

.plan-feature-list li+li {
    margin-top: 0.825rem;
}

.plan-feature-list li {
    width: 100%;
    position: relative;
    padding-left: 25px;
}

@media (max-width: 420px) {
    .plan-feature-list li {
        font-size: 14px;
    }
}

.plan-feature-list li::before {
    position: absolute;
    content: "\f061";
    font-family: 'Line Awesome Free';
    font-weight: 900;
    font-size: 1.125rem;
    top: -1px;
    left: 0;
    color: hsl(var(--base));
}

/* pricing section css end */
/* loan section css start */
.loan-card {
    background-image: -moz-linear-gradient(-103deg, #ef774c 0%, #ed684f 35%, #e84351 76%, #e73351 100%);
    background-image: -webkit-linear-gradient(-103deg, #ef774c 0%, #ed684f 35%, #e84351 76%, #e73351 100%);
    background-image: -ms-linear-gradient(-103deg, #ef774c 0%, #ed684f 35%, #e84351 76%, #e73351 100%);
    padding: 30px;
    box-shadow: 0 5px 15px rgba(232, 67, 81, 0.25);
    height: 100%;
}

.loan-card .caption {
    color: rgba(255, 255, 255, 0.9);
    font-size: 0.875rem;
}

.loan-card .title {
    color: #fff;
    margin-top: 0.3125rem;
}

.loan-card .loan-price {
    margin-top: 1.25rem;
    font-size: 3rem;
    font-family: "Exo", cursive;
    font-weight: 600;
    color: #fff;
    line-height: 1;
}

.loan-card .loan-price sub {
    font-weight: 400;
    font-size: 40%;
}

.loan-card p {
    margin-top: 0.9375rem;
    color: rgba(255, 255, 255, 0.9);
}